*{
    font-family: 'Sora', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #18181b;
}

#container{
    display: flex;
    align-items: center;
    gap: 4rem;
}

#img img{
    width: 30rem;
}

#calculator{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    color: #f8fafc;
    background-color: #262626;
    border-radius: .5rem;
}

#form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#title{
    font-size: 2.25rem;
    position: relative;
}

#title::after{
    position: absolute;
    content: '';
    background-color: #16a34a;
    width: 8rem;
    height: 3px;
    bottom: 0;
    left: 0;
    border-radius: 3px;
}

.input-box label{
    font-size: 1.1rem;
    color: #cbd5e1;
    font-weight: 500;
}

.input-field{
    display: flex;
    justify-content: space-between;
    background-color: #3f3f46;
    padding: .4rem;
    border-radius: .2rem;
    margin-top: 3px;
}

.input-field span, .input-field i{
    color: #cbd5e1;
    font-size: 1.5rem;
    padding: 0.6rem 1rem;
}

.input-field input{
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1.3rem;
    color: #f8fafc;
    padding: 0 0.5rem;

}

.input-field input::-webkit-outer-spin-button, 
.input-field input::-webkit-inner-spin-button{
    appearance: none;
}

.input-field input:focus{
    outline: none;
}

.hidden{
    display: none;
}

#calculate{
    padding: 1rem;
    background-color: #16a34a;
    font-size: 1.3rem;
    color: #f8fafc;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
}

.normal{
    color: #16a34a;
}

.attention{
    color: red;
}

@media (max-width: 1024px) {
   #img{
    display: none;
   } 
}

@media (max-width: 390px) {
  #container{
   background-color: red;
  }

  #calculator{
    width: 100%;
    height: 100%;
    border-radius: 0;
    justify-content: center;
  }
}